@{
    ViewData["Title"] = "Les différentes Civilisations";
    var RechercheNomDirigeant = "";
    var RechercheTitrePassifDirigeant = "";
    var RecherchePassifDirigeant = "";
    var RechercheNomEmpire = "";
    var RechercheTitrePassifEmpire = "";
    var RecherchePassifEmpire = "";
    var RechercheNomQuartierEmpire = "";
    var RechercheQuartierEmpire = "";
    var RechercheNomBatimentEmpire = "";
    var RechercheBatimentEmpire = "";
    var RechercheNomAmenagementEmpire = "";
    var RechercheAmenagementEmpire = "";

    var NomDirigeant = "";
    var TitrePassifDirigeant = "";
    var PassifDirigeant = "";
    var NomEmpire = "";
    var TitrePassifEmpire = "";
    var PassifEmpire = "";
    var NomQuartierEmpire = "";
    var QuartierEmpire = "";
    var NomBatimentEmpire = "";
    var BatimentEmpire = "";
    var NomAmenagementEmpire = "";
    var AmenagementEmpire = "";

    var nbrligne = 2;

    string[] NomUnite = new string[100];
    int[] AttaqueUnite = new int[100];
    string[] TexteUnite = new string[100];
    string[] AmenagementUnite = new string[100];


    var Continents = "";

}
<link rel="stylesheet" href="~/css/Civilisations.css" />
<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<h1>@ViewData["Title"]</h1>
<p>Veuillez retrouver ici les différentes civilisations peuplant le jeu.</p>

<form asp-controller="Home" asp-action="Civilisations" method="post">
    <div class="card">
        <label for="continent-select">Civilisations originaire du continent : </label>
        <select name="continents" id="continent-select" asp-for="@Continents">
            <option value=""></option>
            <option value="europe">Europe</option>
            <option value="asie">Asie</option>
            <option value="amerique">Amerique</option>
            <option value="afrique">Afrique</option>
        </select>
        <button type="submit">Rechercher</button>
    </div>
    <br />
    <div class="card">
        <label>Recherche :</label>
        Nom du Dirigeant:  <input asp-for="@RechercheNomDirigeant" /> <br />
        Titre Passif du Dirigeant:  <input asp-for="@RechercheTitrePassifDirigeant" /> <br />
        Passif du Dirigeant:  <input asp-for="@RecherchePassifDirigeant" /> <br />
        Nom de l'Empire:  <input asp-for="@RechercheNomEmpire" /> <br />
        Titre Passif de l'Empire:  <input asp-for="@RechercheTitrePassifEmpire" /> <br />
        Passif Empire:  <input asp-for="@RecherchePassifEmpire" /> <br />
        Nom Quartier Empire:  <input asp-for="@RechercheNomQuartierEmpire" /> <br />
        Quartier de l'Empire:  <input asp-for="@RechercheQuartierEmpire" /> <br />
        Nom Batiment Empire:  <input asp-for="@RechercheNomBatimentEmpire" /> <br />
        Batiment Empire:  <input asp-for="@RechercheBatimentEmpire" /> <br />
        Nom Amenagement Empire:  <input asp-for="@RechercheNomAmenagementEmpire" /> <br />
        Amenagement Empire:  <input asp-for="@RechercheAmenagementEmpire" /> <br />
        <button type="submit">Rechercher</button>
    </div>
    <br />
    <div>
        <table>
            <tr>
                <td>Nom du dirigeant <button type="submit" class="btn btn-default" name="tri" value="0"><span class="iconify" data-icon="oi:align-center"></span></button></td>
                <td>Titre passif dirigeant <button type="submit" class="btn btn-default" name="tri" value="1"><span class="iconify" data-icon="oi:align-center"></span></button></td>
                <td>Passif dirigeant <button type="submit" class="btn btn-default" name="tri" value="2"><span class="iconify" data-icon="oi:align-center"></span></button></td>
                <td>Nom de l'empire <button type="submit" class="btn btn-default" name="tri" value="3"><span class="iconify" data-icon="oi:align-center"></span></button></td>
                <td>Titre passif empire <button type="submit" class="btn btn-default" name="tri" value="4"><span class="iconify" data-icon="oi:align-center"></span></button></td>
                <td>Passif empire <button type="submit" class="btn btn-default" name="tri" value="5"><span class="iconify" data-icon="oi:align-center"></span></button></td>
                <td>Unité empire</td>
                <td>Nom quartier empire <button type="submit" class="btn btn-default" name="tri" value="6"><span class="iconify" data-icon="oi:align-center"></span></button></td>
                <td>Quartier empire <button type="submit" class="btn btn-default" name="tri" value="7"><span class="iconify" data-icon="oi:align-center"></span></button></td>
                <td>Nom batiment empire <button type="submit" class="btn btn-default" name="tri" value="8"><span class="iconify" data-icon="oi:align-center"></span></button></td>
                <td>Batiment empire <button type="submit" class="btn btn-default" name="tri" value="9"><span class="iconify" data-icon="oi:align-center"></span></button></td>
                <td>Nom amenagement empire <button type="submit" class="btn btn-default" name="tri" value="10"><span class="iconify" data-icon="oi:align-center"></span></button></td>
                <td>Amenagement empire <button type="submit" class="btn btn-default" name="tri" value="11"><span class="iconify" data-icon="oi:align-center"></span></button></td>
            </tr>
            @foreach (Dirigeants unDirigeant in ViewBag.Civilisations)
            {
                <tr>
                    <td>@unDirigeant.NomDirigeant </td>
                    <td>@unDirigeant.TitrePassifDirigeant </td>
                    <td>@unDirigeant.PassifDirigeant </td>
                    <td>@unDirigeant.NomEmpire </td>
                    <td>@unDirigeant.TitrePassifEmpire </td>
                    <td>@unDirigeant.PassifEmpire </td>
                    <td>
                        <ul>
                            @foreach (UniteEmpire uneUnite in unDirigeant.UnitesEmpire)
                            {
                                <li><a asp-controller="Home" asp-action="Unite" asp-route-idCivilisation="@unDirigeant.Id" asp-route-idUnite="@uneUnite.Id">@uneUnite.NomUnite</a></li>
                            }
                        </ul>
                    </td>
                    <td>@unDirigeant.NomQuartierEmpire </td>
                    <td>@unDirigeant.QuartierEmpire </td>
                    <td>@unDirigeant.NomBatimentEmpire </td>
                    <td>@unDirigeant.BatimentEmpire </td>
                    <td>@unDirigeant.NomAmenagementEmpire </td>
                    <td>@unDirigeant.AmenagementEmpire </td>
                </tr>
            }
        </table>
    </div>
</form>

<form asp-controller="Home" asp-action="AddCivilisation" method="post">
    <div class="card">
        <label>Ajouter une civilisation : </label>
        <label for="nomDirigeant">Nom du dirigeant : </label>
        <input asp-for="@NomDirigeant" />
        <label for="nomDirigeant">Titre du passif du dirigeant : </label>
        <input asp-for="@TitrePassifDirigeant" />
        <label for="nomDirigeant">Passif du dirigeant : </label>
        <input asp-for="@PassifDirigeant" />
        <label for="nomDirigeant">Nom Empire : </label>
        <input asp-for="@NomEmpire" />
        <label for="nomDirigeant">Titre passif empire : </label>
        <input asp-for="@TitrePassifEmpire" />
        <label for="nomDirigeant">Passif empire : </label>
        <input asp-for="@PassifEmpire" />
        <label for="nomDirigeant">Unité empire : </label>
        <table>
            <tr>
                <td>Nom</td>
                <td>Attaque</td>
                <td>Description</td>
                <td>Amenagement</td>
            </tr>
            @for (int i = 0; i < nbrligne; i++)
            {
                <tr>
                    <td><input asp-for="@NomUnite[i]" /></td>
                    <td><input  type="number" asp-for="@AttaqueUnite[i]" /></td>
                    <td><input asp-for="@TexteUnite[i]" /></td>
                    <td><input asp-for="@AmenagementUnite[i]" /></td>
                </tr>
            }
        </table>
        <label for="nomDirigeant">Nom quartier empire : </label>
        <input asp-for="@NomQuartierEmpire" />
        <label for="nomDirigeant">Quartier empire : </label>
        <input asp-for="@QuartierEmpire" />
        <label for="nomDirigeant">Nom batiment empire : </label>
        <input asp-for="@NomBatimentEmpire" />
        <label for="nomDirigeant">Batiment Empire : </label>
        <input asp-for="@BatimentEmpire" />
        <label for="nomDirigeant">Nom aménagement empire : </label>
        <input asp-for="@NomAmenagementEmpire" />
        <label for="nomDirigeant">Aménagement empire : </label>
        <input asp-for="@AmenagementEmpire" />
        <button type="submit">Ajouter</button>
    </div>
</form>



