@{
    ViewData["Title"] = "Les différentes Merveilles naturelles";
    var RechercheNomMerveille = "";
    var RechercheEffetMerveille = "";
    var TailleMerveille = "";

    var NomMerveille = "";
    var Effet = "";
    var NbCases = 0;
}
<link rel="stylesheet" href="~/css/Merveilles.css" />
<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<h1>@ViewData["Title"]</h1>
<p>Veuillez retrouver ici les différentes merveilles naturelles que l'on retrouve dans le jeu.</p>

<form asp-controller="Home" asp-action="Merveilles" method="post">
    <div class="card">
        <label for="taille-select">Taille de la merveille : </label>
        <select name="tailleMerveille" id="taille-select" asp-for="@TailleMerveille">
            <option value=""></option>
            <option value="-1">Inconnu</option>
            <option value="1">1 case</option>
            <option value="2">2 cases</option>
            <option value="3">3 cases</option>
            <option value="4">4 cases</option>
            <option value="2-">Inférieur ou égale 2 cases</option>
            <option value="2+">Supérieur à 2 cases</option>
        </select>
        <button type="submit">Rechercher</button>
    </div>
    <br /> 
    <div class="card">
        <label>Recherche :</label>
        Nom de la merveille:  <input asp-for="@RechercheNomMerveille" /> <br />
        Effet de la merveille:  <input asp-for="@RechercheEffetMerveille" /> <br />
        <button type="submit">Rechercher</button>
    </div>
    <br />
    <div>
        <table>
            <tr>
                <td>Nom de la merveille <button type="submit" class="btn btn-default" name="tri" value="0"><span class="iconify" data-icon="oi:align-center"></span></button></td>
                <td>Effet de la merveille <button type="submit" class="btn btn-default" name="tri" value="1"><span class="iconify" data-icon="oi:align-center"></span></button></td>
            </tr>

            @foreach (var uneMerveille in ViewBag.MerveillesNaturelles)
            {
                <tr>
                    <td>@uneMerveille.Element("nom").Value </td>
                    <td>@uneMerveille.Element("effet").Value </td>
                </tr>
            }
        </table>
    </div>
    </form>

<form asp-controller="Home" asp-action="AddMerveilleNaturelle" method="post">
    <div class="card">
        <label>Ajouter une merveille : </label>
        <label for="nomMerveille">Nom de la merveille : </label>
        <input asp-for="@NomMerveille" />
        <label for="effet">Effet : </label>
        <input asp-for="@Effet" />
        <label for="nbCases">Nombre de case : </label>
        <input type="number" asp-for="@NbCases" />
        <button type="submit">Ajouter</button>
    </div>
</form>
